server {
    listen 80;
    server_name mkhnoori.net www.mkhnoori.net;  # Replace with your domain or subdomain

    location / {
        proxy_pass http://127.0.0.1:8000;  # Gunicorn is running on port 8000
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /static/ {
        alias /home/ubuntu/myapp/static/;  # Path to static files
    }

    location /media/ {
        alias /home/ubuntu/myapp/media/;  # Path to media files
    }
}
